:host {
    position: relative;
    display: block;
    height: calc(100% - 64px);

    .cardContainer {
        height: 100%;
        width: 100%;
        
        .mat-card {
            height: 300px;
            width: 300px;

            .generalContainer {

                height: 100%;

                .editButtonContainer {
                    width: 100%;
            
                    .editButton {
                        float: right;
                    }
                }

                .message {
                    text-align: center;
                }
            }
        }
    }
    

}